In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
comp_students = pd.read_csv('https://storage.yandexcloud.net/ds-ods/files/materials/7c6d80ce/comp_students.csv')
comp_portrait = pd.read_csv('https://storage.yandexcloud.net/ds-ods/files/materials/d02796a0/comp_portrait.csv')
comp_marks = pd.read_csv('https://storage.yandexcloud.net/ds-ods/files/materials/49805770/comp_marks.csv')
comp_disc = pd.read_csv('https://storage.yandexcloud.net/ds-ods/files/materials/aed16a9a/comp_disc.csv')
comp_teachers = pd.read_csv('https://storage.yandexcloud.net/ds-ods/files/materials/1ef96510/comp_teachers.csv')
train = pd.read_csv('https://storage.yandexcloud.net/ds-ods/files/materials/8473a598/train.csv')
sample_submission = pd.read_csv('https://storage.yandexcloud.net/ds-ods/files/materials/dc631d4b/sample_submission.csv')
test = pd.read_csv('https://storage.yandexcloud.net/ds-ods/files/materials/c4563730/test.csv')

`comp_students` - статус обучения студента на конкретном курсе
- ISU - UID студента
- COURSE - курс обучения, которому соответствует запись
- DATE_START - начало периода обучения
- DATE_END - конец периода обучения
- PRIZNAK - состояние на конец периода обучения (обучен, академ, отчислен)
- MAIN_PLAN - образовательный план в данный промежуток времени

In [6]:
comp_students

,ISU,KURS,DATE_START,DATE_END,PRIZNAK,MAIN_PLAN
0,4111128904589594590,2,2017-09-01,2018-08-31 00:00:00,обучен,1888061104212561891
1,4111128904589594590,3,2018-09-01,2018-11-02 00:00:00,обучен,1888061104212561891
2,4111128904589594590,3,2018-11-03,2019-08-31 00:00:00,обучен,1888061104212561891
3,4111128904589594590,4,2019-09-01,2020-07-06 00:00:00,обучен,1888061104212561891
4,5943608672516320930,2,2017-09-01,2018-08-31 00:00:00,обучен,2318124975100570268
...,...,...,...,...,...,...
20581,1861790555290075142,1,2021-09-01,2021-09-02 00:00:00,NaN,12557006847748747601
20582,2797163043647546280,1,2021-09-01,2021-09-01 00:00:00,NaN,5468703391701361437
20583,7969824539084569201,1,2021-09-01,2021-09-01 00:00:00,NaN,4016937036336755244
20584,2193978719903996595,1,2021-09-01,2021-09-01 00:00:00,NaN,10323692300941446127
20585,12273580522943998560,1,2021-09-01,2021-09-01 00:00:00,NaN,4016937036336755244