In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
comp_students = pd.read_csv('https://storage.yandexcloud.net/ds-ods/files/materials/7c6d80ce/comp_students.csv')
comp_portrait = pd.read_csv('https://storage.yandexcloud.net/ds-ods/files/materials/d02796a0/comp_portrait.csv')
comp_marks = pd.read_csv('https://storage.yandexcloud.net/ds-ods/files/materials/49805770/comp_marks.csv')
comp_disc = pd.read_csv('https://storage.yandexcloud.net/ds-ods/files/materials/aed16a9a/comp_disc.csv')
comp_teachers = pd.read_csv('https://storage.yandexcloud.net/ds-ods/files/materials/1ef96510/comp_teachers.csv')
train = pd.read_csv('https://storage.yandexcloud.net/ds-ods/files/materials/8473a598/train.csv')
sample_submission = pd.read_csv('https://storage.yandexcloud.net/ds-ods/files/materials/dc631d4b/sample_submission.csv')
test = pd.read_csv('https://storage.yandexcloud.net/ds-ods/files/materials/c4563730/test.csv')

`comp_students` - статус обучения студента на конкретном курсе
- ISU - UID студента
- COURSE - курс обучения, которому соответствует запись
- DATE_START - начало периода обучения
- DATE_END - конец периода обучения
- PRIZNAK - состояние на конец периода обучения (обучен, академ, отчислен)
- MAIN_PLAN - образовательный план в данный промежуток времени

In [6]:
comp_students

,ISU,KURS,DATE_START,DATE_END,PRIZNAK,MAIN_PLAN
0,4111128904589594590,2,2017-09-01,2018-08-31 00:00:00,обучен,1888061104212561891
1,4111128904589594590,3,2018-09-01,2018-11-02 00:00:00,обучен,1888061104212561891
2,4111128904589594590,3,2018-11-03,2019-08-31 00:00:00,обучен,1888061104212561891
3,4111128904589594590,4,2019-09-01,2020-07-06 00:00:00,обучен,1888061104212561891
4,5943608672516320930,2,2017-09-01,2018-08-31 00:00:00,обучен,2318124975100570268
...,...,...,...,...,...,...
20581,1861790555290075142,1,2021-09-01,2021-09-02 00:00:00,NaN,12557006847748747601
20582,2797163043647546280,1,2021-09-01,2021-09-01 00:00:00,NaN,5468703391701361437
20583,7969824539084569201,1,2021-09-01,2021-09-01 00:00:00,NaN,4016937036336755244
20584,2193978719903996595,1,2021-09-01,2021-09-01 00:00:00,NaN,10323692300941446127
20585,12273580522943998560,1,2021-09-01,2021-09-01 00:00:00,NaN,4016937036336755244

`comp_portrait` - Данные об абитуриенте

- ISU - UID студента
- GENDER - пол
- CITIZENSHIP - гражданство
- EXAM_TYPE - форма зачисления (ЕГЭ, олимпиада, ВИ - вступительные испытания)
- EXAM_SUBJECT_1 - первый экзамен ЕГЭ
- EXAM_SUBJECT_2 - второй экзамен ЕГЭ
- EXAM_SUBJECT_3 - третий экзамен ЕГЭ
- ADMITTED_EXAM_1 - баллы за 1 экзамен ЕГЭ
- ADMITTED_EXAM_2 - баллы за 2 экзамен ЕГЭ
- ADMITTED_EXAM_3 - баллы за 3 экзамен ЕГЭ
- ADMITTED_SUBJECT_PRIZE_LEVEL - уровень олимпиады (если есть)
- REGION_ID - номер региона

In [10]:
comp_portrait

,ISU,GENDER,CITIZENSHIP,EXAM_TYPE,EXAM_SUBJECT_1,EXAM_SUBJECT_2,EXAM_SUBJECT_3,ADMITTED_EXAM_1,ADMITTED_EXAM_2,ADMITTED_EXAM_3,ADMITTED_SUBJECT_PRIZE_LEVEL,REGION_ID
0,8746993777733478780,Ж,15601729049989747827,ЕГЭ,70786669040476600,5533732657842394915,8388269026169219461,88.0,91.0,81.0,ЕГЭ,4877310761925081124
1,18279003839105282485,М,15601729049989747827,ВИ,70786669040476600,5533732657842394915,8388269026169219461,84.0,89.0,96.0,ЕГЭ,4877310761925081124
2,17601399077733331421,М,15601729049989747827,ВИ,70786669040476600,5533732657842394915,8388269026169219461,66.0,78.0,93.0,ЕГЭ,4877310761925081124
3,4111128904589594590,М,15601729049989747827,ВИ,70786669040476600,5533732657842394915,8388269026169219461,100.0,89.0,80.0,ЕГЭ,4877310761925081124
4,5943608672516320930,М,15601729049989747827,ВИ,70786669040476600,5533732657842394915,8388269026169219461,84.0,86.0,91.0,ЕГЭ,4877310761925081124
...,...,...,...,...,...,...,...,...,...,...,...,...
8578,10617950247642298995,М,15601729049989747827,ОЛИМПИАДА,70786669040476600,8388269026169219461,5533732657842394915,NaN,NaN,NaN,1.0,1360429390938723525
8579,17588742642663092027,М,15601729049989747827,ЕГЭ,70786669040476600,5533732657842394915,8388269026169219461,78.0,83.0,85.0,ЕГЭ,805206811561050868
8580,6263076880571321209,М,15601729049989747827,ВИ,5533732657842394915,70786669040476600,8388269026169219461,95.0,100.0,96.0,ЕГЭ,4877310761925081124
8581,2678733955613127063,Ж,15601729049989747827,ЕГЭ,10540932117542805584,70786669040476600,8388269026169219461,80.0,82.0,78.0,ЕГЭ,4877310761925081124
8582,3264412230846229387,М,15601729049989747827,ОЛИМПИАДА,70786669040476600,5533732657842394915,8388269026169219461,NaN,NaN,NaN,1.0,17119224547502736839

`comp_marks` - 

- ISU - UID студента
- ST_YEAR - год начала курса (первое число из формата 2020/2021)
- SEMESTER - фактический семестр, в котором получена оценка
- TYPE_NAME - форма отчетности
- MARK - оценка (или зачет/незачет)
- MAIN_PLAN - учебный план
- DISC_ID - UID дисциплины
- PRED_ID - UID преподавателя

In [17]:
comp_marks

,ISU,ST_YEAR,SEMESTER,TYPE_NAME,MARK,MAIN_PLAN,DISC_ID,PRED_ID
0,17623928044460629977,2020,1,Зачет,зачет,4664712865904477750,10502311854018326223,5087927234000983963
1,17623928044460629977,2020,1,Зачет,зачет,4664712865904477750,1601392918367593206,5087927234000983963
2,17623928044460629977,2020,1,Зачет,зачет,4664712865904477750,9559803959325174929,5087927234000983963
3,17623928044460629977,2020,1,Зачет,зачет,4664712865904477750,8955667882044263414,5087927234000983963
4,17623928044460629977,2020,1,Экзамен,3,4664712865904477750,17741967398854095262,5087927234000983963
...,...,...,...,...,...,...,...,...
182790,4061096613922316032,2020,3,Экзамен,5,2516887713846954209,4258608271424308357,5087927234000983963
182791,4061096613922316032,2020,4,Зачет,зачет,2516887713846954209,16952703406926101025,5087927234000983963
182792,4061096613922316032,2020,3,Зачет,зачет,2516887713846954209,5702509582319458883,5087927234000983963
182793,695318259917739302,2019,1,Зачет,зачет,2516887713846954209,1601392918367593206,5087927234000983963
182794,11497011754958610988,2020,3,Зачет,зачет,15970149812698605927,15855310178528035667,18356833616442140842

`comp_disc` - 

- PLAN_ID - UID учебного плана (то же что и MAIN_PLAN - значения в этих колонках соответствуют друг другу и могут быть использованы для сопоставления таблиц)
- DISC_ID - UID дисциплины
- СHOICE - выборность дисциплины
- SEMESTER - семестр проведения дисциплины в данном учебном плане
- DISC_NAME - название дисциплины
- DISC_DEP - факультет-реализатор дисциплины

In [20]:
comp_disc

,PLAN_ID,DISC_ID,СHOICE,SEMESTER,DISC_NAME,DISC_DEP,KEYWORD_NAMES
0,13019929768422386211,12540082885330665258,1.0,6.0,Методы криптографии,8139328495281102994,"криптография, криптография, криптография, клас..."
1,13019929768422386211,8471500331110227546,1.0,6.0,Анализ социальных сетей,8139328495281102994,"технологии работы информацией, алгоритмы обраб..."
2,13019929768422386211,11786710099399385350,1.0,6.0,Эффективное участие в научных и практических к...,1687590892619214362,NaN
3,13019929768422386211,18074319180892552096,1.0,6.0,Управление карьерой,1687590892619214362,NaN
4,13019929768422386211,17709308778630417516,1.0,6.0,Обработка изображений,8139328495281102994,"классическое машинное обучение, генерация изоб..."
...,...,...,...,...,...,...,...
22512,15424044485875347082,13199182807431031308,1.0,3.0,Бизнес-модели основных секторов инновационной ...,13705271043836613455,"сектор life sciences, выбор бизнесмодели, форм..."
22513,15424044485875347082,4888736193471485129,1.0,3.0,Второй иностранный язык (немецкий). Уровень А2,4541588325103734182,"выражение мнения, выражение мнения, модели нор..."
22514,15424044485875347082,4888736193471485129,1.0,3.0,Второй иностранный язык (немецкий). Уровень А2,4541588325103734182,NaN
22515,15424044485875347082,9075687484357010791,0.0,3.0,Физическая культура (элективная дисциплина),9092018987667145739,"фитнес, единоборство, учебнотренировачная подг..."
22516,15424044485875347082,9075687484357010791,0.0,3.0,Физическая культура (элективная дисциплина),9092018987667145739,NaN

`comp_teachers` - 

- ISU - UID преподавателя
- GENDER - Пол
- DATE_BIRTH - Год рождения преподавателя
- ST_YEAR - год обучения
- SEMESTER - семестр преподавания
- DISC_ID - UID преподаваемой дисциплины
- MAIN_PLAN - UID учебного плана данной программы
- TYPE_NAME - форма контроля по предмету (экзамен, зачет, дифференцированный зачет)
- MARK - средняя оценка, выставленная преподавателем

In [24]:
comp_teachers

,ISU,GENDER,DATE_BIRTH,ST_YEAR,SEMESTER,DISC_ID,MAIN_PLAN,TYPE_NAME,MARK
0,10629403761260861411,М,1975,2020/2021,4.0,13112935959748478559,10080731777079285074,Дифференцированный зачет,3.471698
1,10629403761260861411,М,1975,2018/2019,2.0,9080510863460073035,15820306466107805201,Дифференцированный зачет,4.243902
2,10629403761260861411,М,1975,2019/2020,4.0,5019820477479850617,3636112309748229871,Экзамен,4.652174
3,10629403761260861411,М,1975,2018/2019,2.0,2604062592206042930,3636112309748229871,Дифференцированный зачет,4.266667
4,10629403761260861411,М,1975,2018/2019,2.0,2604062592206042930,3636112309748229871,Курсовой проект,4.266667
...,...,...,...,...,...,...,...,...,...
5549,11372188095720335175,М,1986,2020/2021,NaN,7766831654069050069,2580376221820191753,NaN,NaN
5550,11372188095720335175,М,1986,2020/2021,NaN,7766831654069050069,7130526432801337743,NaN,NaN
5551,11372188095720335175,М,1986,2020/2021,3.0,7766831654069050069,3259025934245756351,Экзамен,3.884615
5552,11372188095720335175,М,1986,2020/2021,NaN,5066897240534486806,12572440150254943648,NaN,NaN
5553,11372188095720335175,М,1986,2020/2021,NaN,5066897240534486806,5362976524072356586,NaN,NaN

`train` - 

Таргет для обучения с оценками и количеством долгов студентов за 2017 - 2020 учебные годы (без 2021/2022 года)

- ISU - UID студента
- SEMESTER - семестр получения оценки
- DISC_ID - UID дисциплины
- MARK - оценка 
- DEBT - факт наличия долга (0 - отсутствие, 1 - наличие) - таргет

In [29]:
train

,ISU,ST_YEAR,SEMESTER,DISC_ID,TYPE_NAME,MARK,DEBT
0,17623928044460629977,2020,1,10502311854018326223,Зачет,зачет,0
1,17623928044460629977,2020,1,1601392918367593206,Зачет,зачет,0
2,17623928044460629977,2020,1,9559803959325174929,Зачет,зачет,0
3,17623928044460629977,2020,1,8955667882044263414,Зачет,зачет,0
4,17623928044460629977,2020,1,17741967398854095262,Экзамен,3,0
...,...,...,...,...,...,...,...
179183,695318259917739302,2019,1,1601392918367593206,Зачет,зачет,0
179184,11038830203489115866,2019,4,14502000618530751637,Зачет,зачет,0
179185,12167247650939870440,2020,5,15116680349425546846,Экзамен,3,0
179186,11497011754958610988,2020,3,15855310178528035667,Зачет,зачет,0
179187,12806491784692025885,2020,6,18074319180892552096,Зачет,зачет,0

`test`

Данные для теста - оценки и долги студентов за осенний семестр 2021/2022 года

- ISU - UID студента
- ST_YEAR - учебный год получения оценки
- SEMESTER - семестр получения оценки
- DISC_ID - UID дисциплины
- TYPE_NAME - форма отчетности

In [30]:
test

                        ISU  ST_YEAR  SEMESTER               DISC_ID TYPE_NAME
0         22160896830459167     2021         3    552619236026332123   Экзамен
1         22160896830459167     2021         3   5702509582319458883     Зачет
2         22160896830459167     2021         3   7735626259430674628     Зачет
3         22160896830459167     2021         3   8955667882044263414     Зачет
4         22160896830459167     2021         3   9075687484357010791     Зачет
...                     ...      ...       ...                   ...       ...
36244  18441846113897984349     2021         5   9075687484357010791     Зачет
36245  18441846113897984349     2021         5  11240958499619480192     Зачет
36246  18441846113897984349     2021         5  11511957009955804990     Зачет
36247  18441846113897984349     2021         5  11807846188624377660   Экзамен
36248  18441846113897984349     2021         5  16952231586163840107     Зачет

[36249 rows x 5 columns]

In [34]:
for i in sample_submission.ID:
    print(i)
    break

ISU:22160896830459167 | DISC_ID:552619236026332123 | TYPE_NAME:Экзамен

In [35]:
sample_submission

                                                      ID  DEBT
0      ISU:22160896830459167 | DISC_ID:55261923602633...     1
1      ISU:22160896830459167 | DISC_ID:57025095823194...     1
2      ISU:22160896830459167 | DISC_ID:77356262594306...     1
3      ISU:22160896830459167 | DISC_ID:89556678820442...     1
4      ISU:22160896830459167 | DISC_ID:90756874843570...     1
...                                                  ...   ...
36244  ISU:18441846113897984349 | DISC_ID:90756874843...     1
36245  ISU:18441846113897984349 | DISC_ID:11240958499...     1
36246  ISU:18441846113897984349 | DISC_ID:11511957009...     1
36247  ISU:18441846113897984349 | DISC_ID:11807846188...     1
36248  ISU:18441846113897984349 | DISC_ID:16952231586...     1

[36249 rows x 2 columns]